body {
	background-color: black;
	color: white;

	font-family: "Comic Sans MS", cursive, Arial, Helvetica, sans-serif;
}

h1, h2 {
	color: yellow;
}

.wrapper {
	padding: 1rem;
}

.box {
	color: black;
	background-color: white;
	margin-bottom: 1rem;
}

#diagram {
	width: 90%;
	max-width: 1200px;
	margin: 0px auto;
	min-height: 13rem;

	color: black;

	/*display: flex;*/
}
